@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900|Roboto+Condensed:400,700&display=swap");
body {
  font-family: 'Roboto', sans-serif; }

@media (min-width: 1200px) {
  .container {
    max-width: 1060px; } }

@media (max-width: 576px) {
  .container {
    padding: 0; } }

.btn-cta {
  background-color: teal;
  border-color: teal;
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0; }
  @media (max-width: 576px) {
    .btn-cta {
      display: none; }
      .btn-cta.btn-mob {
        display: block; } }
  @media (min-width: 577px) {
    .btn-cta {
      display: block; }
      .btn-cta.btn-mob {
        display: none; } }
  .btn-cta:hover, .btn-cta:active {
    outline: none;
    background-color: #009a9a !important; }

.carousel-item {
  max-height: 400px; }

.carousel-caption {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 52%, rgba(0, 0, 0, 0.2) 100%); }

header {
  display: flex;
  align-items: center;
  margin-top: 1rem; }
  @media (max-width: 576px) {
    header {
      flex-direction: column;
      margin: 0.4rem 0; } }
  @media (max-width: 576px) {
    header .brand {
      width: 100%;
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header .brand a.btn-mob {
        width: 100%;
        font-family: 'Roboto Condensed', sans-serif; } }
  header .brand img {
    width: 150px;
    height: 150px; }
  header .nav-component {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1; }
    @media (max-width: 576px) {
      header .nav-component {
        width: 100%;
        flex-direction: row;
        justify-content: space-between; } }
    header .nav-component .social-media {
      display: flex;
      justify-content: flex-end; }
      @media (max-width: 576px) {
        header .nav-component .social-media {
          padding: 0; } }
      header .nav-component .social-media li.nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: #a0a0a0;
        border-radius: 5rem;
        margin-left: .6rem;
        transition: all .4s ease-in-out; }
        header .nav-component .social-media li.nav-item a {
          font-size: 18px; }
        header .nav-component .social-media li.nav-item:hover {
          background-color: maroon; }
    header .nav-component nav {
      font-family: 'Roboto Condensed', sans-serif; }
      @media (max-width: 576px) {
        header .nav-component nav {
          padding: 0;
          margin-right: .6rem;
          position: relative; } }
      header .nav-component nav ul {
        justify-content: center; }
        header .nav-component nav ul li.nav-item a.nav-link {
          font-size: 24px;
          padding: 0 2rem; }
          header .nav-component nav ul li.nav-item a.nav-link.active {
            font-weight: 700; }
        header .nav-component nav ul li.nav-item:not(:first-child) {
          border-left: 1px solid #a0a0a0; }
        @media (max-width: 576px) {
          header .nav-component nav ul {
            position: absolute;
            top: 40px;
            right: 0;
            background-color: #e8e8e8;
            width: 150px;
            z-index: 100; }
            header .nav-component nav ul li.nav-item a.nav-link {
              font-size: 18px;
              padding: .5rem 1rem; }
              header .nav-component nav ul li.nav-item a.nav-link.active {
                font-weight: 400; }
            header .nav-component nav ul li.nav-item:not(:first-child) {
              border: none; } }

.tab-filter {
  margin-top: 4rem; }
  .tab-filter nav.nav-pills a.nav-link {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    color: #707070;
    border-radius: 0; }
    .tab-filter nav.nav-pills a.nav-link:hover {
      color: #29adca; }
    .tab-filter nav.nav-pills a.nav-link:not(:first-child) {
      border-left: 1px solid #a0a0a0; }
  @media (max-width: 576px) {
    .tab-filter nav.nav-pills {
      flex-direction: column; }
      .tab-filter nav.nav-pills a.nav-link {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase; }
        .tab-filter nav.nav-pills a.nav-link:not(:first-child) {
          border-left: none; } }

.grid-group {
  margin-top: 3rem;
  display: flex; }
  @media (max-width: 576px) {
    .grid-group {
      flex-direction: column; } }
  .grid-group .big-pic-tour {
    display: flex;
    flex-basis: 65%; }
    @media (max-width: 576px) {
      .grid-group .big-pic-tour {
        flex-direction: column;
        align-items: center; } }
    .grid-group .big-pic-tour img {
      max-width: 250px;
      height: 250px;
      border-radius: 50%; }
    .grid-group .big-pic-tour .text-detail {
      padding: 2rem;
      text-align: justify;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
      .grid-group .big-pic-tour .text-detail h1 {
        margin-bottom: 1rem; }
        @media (max-width: 576px) {
          .grid-group .big-pic-tour .text-detail h1 {
            text-align: center; } }
        .grid-group .big-pic-tour .text-detail h1 a {
          font-weight: 400;
          color: #a0a0a0;
          text-decoration: none;
          transition: all .3s ease-in-out; }
          .grid-group .big-pic-tour .text-detail h1 a:hover {
            color: maroon; }
  .grid-group .trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 35%; }
    .grid-group .trending h3 {
      margin-bottom: 1rem; }
    .grid-group .trending .places-group {
      display: flex;
      justify-content: space-around; }
      .grid-group .trending .places-group figure img {
        max-width: 80px;
        height: 80px;
        border-radius: 50%; }
      .grid-group .trending .places-group figure figcaption {
        font-size: .8rem;
        color: #a0a0a0;
        margin-top: .3rem; }

.wedding.grid-group {
  flex-direction: row-reverse; }
  .wedding.grid-group .big-pic-tour {
    flex-direction: row-reverse; }
    .wedding.grid-group .big-pic-tour .text-detail {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: none; }

@media (max-width: 576px) {
  .wedding.grid-group {
    flex-direction: column;
    align-items: center; }
    .wedding.grid-group .big-pic-tour {
      flex-direction: column; }
      .wedding.grid-group .big-pic-tour .text-detail {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: none; } }

.corporate.grid-group {
  flex-direction: row-reverse; }
  .corporate.grid-group .big-pic-tour {
    flex-direction: row-reverse; }
    .corporate.grid-group .big-pic-tour .text-detail {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: none; }

@media (max-width: 576px) {
  .corporate.grid-group {
    flex-direction: column;
    align-items: center; }
    .corporate.grid-group .big-pic-tour {
      flex-direction: column; }
      .corporate.grid-group .big-pic-tour .text-detail {
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: none; } }
