.detailed-heading {
    padding: 3rem 0;
    h1.display-1 {
        font-size: 3.6rem;
        @media (max-width: $mobile-layout) {
            font-size: 2.5rem;
        }
        color: $heading-color;
        span {
            font-size: 1rem;
            font-weight: 400;
            color: $theme-color;
            @media (max-width: $mobile-layout) {
                display: block;
            }
        }
    }
    .info-sec {
        padding: 1.5rem 0;
        p {
            font-size: .9rem;
            font-weight: 500;
        }
        img {
            height: 210px;
            object-fit: cover;
            object-position: center;
            @include box-shadow();
        }
    }
}

.features {
    .feature-item {
        text-align: center;
        @media (min-width: $mobile-layout) {
            margin: .6rem 0;
        }
        img {
            max-width: 178px;
            height: 178px;
            object-fit: cover;
            object-position: center;
            @include box-shadow();
        }
        h3 {
            margin-top: 1.5rem;
            text-transform: capitalize;
            font-size: 1.2rem;
            a {
                color: $heading-color;
                text-decoration: none;
            }
        }
        p {
            font-size: .8rem;
            font-weight: 500;
            text-align: justify;
        }
    }
}