@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900|Roboto+Condensed:400,700&display=swap");
body {
  font-family: 'Roboto', sans-serif; }

@media (min-width: 1200px) {
  .container {
    max-width: 1060px; } }

@media (max-width: 576px) {
  .container {
    padding: 0; } }

.btn-cta {
  background-color: #e0115f;
  border-color: #e0115f;
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0; }
  @media (max-width: 768px) {
    .btn-cta {
      display: none; }
      .btn-cta.btn-mob {
        display: block; } }
  @media (min-width: 769px) {
    .btn-cta {
      display: block; }
      .btn-cta.btn-mob {
        display: none; } }
  .btn-cta:hover, .btn-cta:active {
    outline: none;
    background-color: #c80f55 !important;
    border-color: #e0115f; }

.carousel-inner .carousel-item {
  max-height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.carousel-caption {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(52%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 52%, rgba(0, 0, 0, 0.2) 100%); }

.form-control:focus {
  border-color: #e0115f;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(224, 17, 95, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(224, 17, 95, 0.25); }

textarea {
  height: 80px; }
  textarea:focus {
    outline: none; }

.btn-theme {
  background-color: #e0115f;
  border-color: #e0115f; }
  .btn-theme:hover {
    background: #c80f55; }

.detailed-heading {
  padding: 3rem 0; }
  .detailed-heading h1.display-1 {
    font-size: 3.6rem;
    color: #707070; }
    @media (max-width: 768px) {
      .detailed-heading h1.display-1 {
        font-size: 2.5rem; } }
    .detailed-heading h1.display-1 span {
      font-size: 1rem;
      font-weight: 400;
      color: #e0115f; }
      @media (max-width: 768px) {
        .detailed-heading h1.display-1 span {
          display: block; } }
  .detailed-heading .info-sec {
    padding: 1.5rem 0; }
    .detailed-heading .info-sec p {
      font-size: .9rem;
      font-weight: 500; }
    .detailed-heading .info-sec img {
      height: 210px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
      border-radius: .6rem; }

.features .feature-item {
  text-align: center; }
  @media (min-width: 768px) {
    .features .feature-item {
      margin: .6rem 0; } }
  .features .feature-item img {
    max-width: 178px;
    height: 178px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: .6rem; }
  .features .feature-item h3 {
    margin-top: 1.5rem;
    text-transform: capitalize;
    font-size: 1.2rem; }
    .features .feature-item h3 a {
      color: #707070;
      text-decoration: none; }
  .features .feature-item p {
    font-size: .8rem;
    font-weight: 500;
    text-align: justify; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem; }
  @media (max-width: 768px) {
    header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0.4rem 0; } }
  @media (max-width: 768px) {
    header .brand {
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header .brand a.btn-mob {
        width: 100%;
        font-family: 'Roboto Condensed', sans-serif; } }
  header .brand img {
    width: 200px;
    height: 150px; }
  header .nav-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1; }
    @media (max-width: 768px) {
      header .nav-component {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    header .nav-component .social-media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      @media (max-width: 768px) {
        header .nav-component .social-media {
          padding: 0; } }
      header .nav-component .social-media li.nav-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: #a0a0a0;
        border-radius: 5rem;
        margin-left: .6rem;
        -webkit-transition: all .4s ease;
        transition: all .4s ease; }
        header .nav-component .social-media li.nav-item a {
          font-size: 18px; }
        header .nav-component .social-media li.nav-item:hover {
          background-color: #e0115f; }
    header .nav-component nav {
      font-family: 'Roboto Condensed', sans-serif; }
      @media (max-width: 768px) {
        header .nav-component nav {
          padding: 0;
          margin-right: .6rem;
          position: relative; } }
      header .nav-component nav ul {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        header .nav-component nav ul li.nav-item a.nav-link {
          font-size: 24px;
          padding: 0 2rem; }
          header .nav-component nav ul li.nav-item a.nav-link.active {
            font-weight: 700; }
        header .nav-component nav ul li.nav-item:not(:first-child) {
          border-left: 1px solid #a0a0a0; }
        @media (max-width: 768px) {
          header .nav-component nav ul {
            position: absolute;
            top: 40px;
            right: 0;
            background-color: #e8e8e8;
            width: 150px;
            z-index: 100; }
            header .nav-component nav ul li.nav-item a.nav-link {
              font-size: 18px;
              padding: .5rem 1rem; }
              header .nav-component nav ul li.nav-item a.nav-link.active {
                font-weight: 400; }
            header .nav-component nav ul li.nav-item:not(:first-child) {
              border: none; } }

.tab-filter {
  margin-top: 4rem; }
  .tab-filter nav.nav-pills a.nav-link {
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    color: #707070;
    border-radius: 0;
    background-color: transparent; }
    .tab-filter nav.nav-pills a.nav-link:hover, .tab-filter nav.nav-pills a.nav-link.active {
      color: #e0115f; }
    .tab-filter nav.nav-pills a.nav-link:not(:first-child) {
      border-left: 1px solid #a0a0a0; }
  @media (max-width: 768px) {
    .tab-filter nav.nav-pills {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .tab-filter nav.nav-pills a.nav-link {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase; }
        .tab-filter nav.nav-pills a.nav-link:not(:first-child) {
          border-left: none; } }

.grid-group {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .grid-group {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .grid-group .big-pic-tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%; }
    @media (max-width: 768px) {
      .grid-group .big-pic-tour {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .grid-group .big-pic-tour img {
      max-width: 250px;
      height: 250px;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
      border-radius: .6rem; }
    .grid-group .big-pic-tour .text-detail {
      padding: 2rem;
      text-align: justify;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
      .grid-group .big-pic-tour .text-detail h1 {
        margin-bottom: 1rem; }
        @media (max-width: 768px) {
          .grid-group .big-pic-tour .text-detail h1 {
            text-align: center; } }
        .grid-group .big-pic-tour .text-detail h1 a {
          font-weight: 400;
          color: #a0a0a0;
          text-decoration: none;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
          @media (max-width: 768px) {
            .grid-group .big-pic-tour .text-detail h1 a {
              font-size: 2rem; } }
          .grid-group .big-pic-tour .text-detail h1 a:hover {
            color: #e0115f; }
  .grid-group .trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%; }
    .grid-group .trending h3 {
      margin-bottom: 1rem; }
    .grid-group .trending .places-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      .grid-group .trending .places-group figure img {
        max-width: 80px;
        height: 80px;
        border-radius: 50%;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
      .grid-group .trending .places-group figure figcaption {
        font-size: .8rem;
        color: #a0a0a0;
        margin-top: .3rem; }

.wedding.grid-group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .wedding.grid-group .big-pic-tour {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .wedding.grid-group .big-pic-tour .text-detail {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: none; }

@media (max-width: 768px) {
  .wedding.grid-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .wedding.grid-group .big-pic-tour {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .wedding.grid-group .big-pic-tour .text-detail {
        border-left: none;
        border-right: none; } }

.corporate.grid-group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  .corporate.grid-group .big-pic-tour {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .corporate.grid-group .big-pic-tour .text-detail {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
      border-right: none; }

@media (max-width: 768px) {
  .corporate.grid-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .corporate.grid-group .big-pic-tour {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .corporate.grid-group .big-pic-tour .text-detail {
        border-left: none;
        border-right: none; } }

.about-details {
  padding: 3rem 0; }
  .about-details h5 {
    color: #e0115f; }
  .about-details p {
    margin-top: 1rem;
    font-size: .9rem; }
  .about-details ul > li {
    font-size: .9rem;
    font-weight: 500;
    margin-top: .6rem; }
    .about-details ul > li ol {
      margin-top: .6rem;
      list-style-type: lower-roman; }
      .about-details ul > li ol li {
        font-weight: 400; }
  .about-details address {
    font-size: .9rem;
    font-weight: 500; }
  .about-details table {
    font-size: .8rem; }
    .about-details table td:first-child {
      width: 70px;
      font-weight: bold; }
  .about-details .offers h1 {
    background-color: #e0115f;
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative; }
    .about-details .offers h1 i {
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

footer {
  margin-top: 2rem;
  border-top: 1px dotted #a0a0a0;
  font-size: .8rem;
  color: #707070; }
  footer nav.nav-pills {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1rem; }
    footer nav.nav-pills a.nav-item {
      color: #707070;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
